:root{
--branding-color:#5aa49e;
--secondary-branding: white;
--main-font-family: "cabin-condensed", sans-serif;
--secondary-font-family:"lexend-deca", sans-serif;
}

body{
    background-color: honeydew;
}
footer{
    margin: 60px 0;
}

footer .social-links a {
    text-align: center;
    color: var(--branding-color);
    background: var(--secondary-branding);
    margin: 0 20px;
    padding: 10px 14px;
    font-size: 18px;
    border-radius: 50%;
    outline: 1px solid teal;
    transition: all 100ms ease-in-out;
}
footer .social-links a:hover{
    color: var(--secondary-branding);
    background:var(--branding-color);
}

footer .work-contact{
    background: var(--secondary-branding);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}

footer .work-contact p{
    margin: 0px;
}

h1, h2, h3, h4, h5, h6 {
    color: black;
    font-family: var(--main-font-family);
    font-weight: 700;
    font-style: normal;
}
h1{
    font-size: 96px;
}

h4{
    font-size: 48px;
}


p {
color:black;
font-family: var(--secondary-font-family);
font-weight: 300;
font-size:30px;
}
.btn-branding{
    background-color: var(--branding-color);
    color: var(--secondary-branding);
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    text-align: center;
    margin: 20px;
    font-size: 18px;
}
.btn-branding:hover{
 border: solid 2px var(--branding-color);
 color: var(--branding-color);
 background-color: white;
}
.hero{
    text-align: center;
    background-color: white;
    padding: 110px 20px;
}
.hero p {
    font-family: var(--secondary-font-family);
    font-size: 52px;
    font-weight: bold;
    margin: 0;
}

.hero h2{
    font-family: var(--secondary-font-family);
    font-weight: normal;
    font-size: 24px;
}
.navbar-custom{
    background-image: url(/styles/green-pastel-leaf.jpg);
    background-size: 550px;
    margin-bottom: 20px;
}
.nav-link,.navbar-brand,.card-button{
    color: var(--secondary-branding);
    background:var(--branding-color);
    padding: 10px;
}
.nav-link,.card-button{
    margin: 10px 20px;
    border: none;
    border-radius: 15px;
}
.intro-page{
    justify-content: space-between;
    margin: 15px auto;
    padding: 20px 15px;
}
.card-footer{
    justify-content: center;
}
.card-img-top{
    height: 350px;
}
.contact-links{
    text-decoration:none;
    color: black;
    font-size: 24px;
}
.contact-links:hover {
    color:var(--branding-color);
}

@media (max-width: 900px) {
    h1 {
        font-size: 44px;
        line-height: 2px;
    }
    h2 {
        font-size: 44px;
    }
    h4{
        font-size: 26px;
    }
    .hero {
        padding: 80px 20px;
    }
    .content{
        text-align: center;
        padding: 0;
    }
.content-container{
    padding: 110px 20px;
}
.content{
    text-align: center;
    padding: 0;
    margin: 30px;
}
.content h1 {
    font-size: 52px;
    line-height: 80px;
}
.content h3{
    font-size: 24px;
    font-family: var(--main-font-family);
    line-height: 2;
}
.content p {
    font-size: 18px;
    font-family: var(--main-font-family);
}
.about-img { 
    height: 500px;
    width: 300px;
    border-radius: 7px;
    margin-bottom: 20px;
}
footer .work-contact{
    padding: 30px;
}
}